
.home-page-posts {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "leftcol rightcol";
}

.home-posts {
	grid-area: leftcol;
}

.home-tutorials {
	grid-area: rightcol;	
}
