---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <div class="home-page-posts">
	  <div class="home-posts">
		  <h2 class="post-list-heading">What you type:</h2>
<figure class="highlight"><pre><code class="language-json" data-lang="json"><span class="p">{</span><span class="w">
  </span><span class="s2">"query"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="s2">"sql"</span><span class="p">:</span><span class="w"> </span><span class="s2">"select name, amount, duedate FROM requests;"</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="s2">"table"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="s2">"title"</span><span class="p">:</span><span class="w"> </span><span class="s2">"My table"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"fields"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
      </span><span class="p">{</span><span class="s2">"headline"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Name"</span><span class="p">,</span><span class="w"> </span><span class="s2">"sqlfield"</span><span class="p">:</span><span class="w"> </span><span class="s2">"name"</span><span class="p">},</span><span class="w">
      </span><span class="p">{</span><span class="s2">"headline"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Amount"</span><span class="p">,</span><span class="w"> </span><span class="s2">"sqlfield"</span><span class="p">:</span><span class="w"> </span><span class="s2">"amount"</span><span class="p">},</span><span class="w">
      </span><span class="p">{</span><span class="s2">"headline"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Due date"</span><span class="p">,</span><span class="w"> </span><span class="s2">"sqlfield"</span><span class="p">:</span><span class="w"> </span><span class="s2">"duedate"</span><span class="p">}</span><span class="w">
    </span><span class="p">]</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span></code></pre></figure>
	  </div>
	  <div class="home-tutorials">
		  <h2 class="post-list-heading">What you get></h2>
      </div>
  </div>
  
  <div class="home-page-posts">
	  <div class="home-posts">
		  {%- if site.posts.size > 0 -%}
		    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
		    <ul class="post-list">
		      {%- for post in site.posts -%}
		      <li>
		        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		        <span class="post-meta">{{ post.date | date: date_format }}</span>
		        <h3>
		          <a class="post-link" href="{{ post.url | relative_url }}">
		            {{ post.title | escape }}
		          </a>
		        </h3>
		        {%- if site.show_excerpts -%}
		          {{ post.excerpt }}
		        {%- endif -%}
		      </li>
		      {%- endfor -%}
		    </ul>

		    <p class="feed-subscribe">
		      <a href="{{ 'feed.xml' | relative_url }}">
		        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
		      </a>
		    </p>
		  {%- endif -%}
	  </div>
	  <div class="home-tutorials">
		  {%- if site.tutorials.size > 0 -%}
		    <h2 class="post-list-heading">{{ page.list_title | default: "Tutorials" }}</h2>
		    <ul class="post-list">
			  {% assign items = site.tutorials | sort: 'orderfield' %}
		      {%- for post in items -%}
		      <li>
		        <h3>
		          <a class="post-link" href="{{ post.url | relative_url }}">
		            {{ post.title | escape }}
		          </a>
		        </h3>
		        {%- if site.show_excerpts -%}
		          {{ post.excerpt }}
		        {%- endif -%}
		      </li>
		      {%- endfor -%}
		    </ul>
		  {%- endif -%}
	  </div>
  </div>

</div>
